# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.production

# macOS
.DS_Store

# wrangler
.wrangler/

# test build output
.astro-test-dist/
.astro-test-dist-links/
.astro-test-dist-content/
.measure/
.astro-test-dist-images/
